.form-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 30px;
    margin-top: 5%;
    width: 450px;
}

.form-container input {
    padding: 10px;
    width: 90%;
    margin-top: 20px;
}

.describe-container {
    width: 94%;
    height: 100px;
    margin-top: 20px;
}

#upload-btn {
    width: 95.5%;
    padding: 10px;
    margin-top: 20px;
}

.create-btn {
    width: 96%;
    margin-top: 20px;
    padding: 10px;
    font-weight: 600;
    height: 50px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 8px;
    background-color: rgb(86, 218, 86);
}

